<?xml version="1.0"?>
 <!-- override the Magento\CatalogInventory\Helper\Stock.php -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogInventory\Helper\Stock">
    	<plugin name="MaggyLondon_ProductsMigrate_plugin_FixToStock" type="MaggyLondon\ProductsMigrate\Plugin\FixToStock"/>
    </type>
</config>